.md
.env
backend/.env
frontend/.env
.sh
snapShotGen.py
claude idea.md
DIRETRIZES_GLOBAIS_ETE.md
FASE5_ORACULO.md
start.sh
stop.sh
restart.sh


# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Variáveis de Ambiente (CRÍTICO)
.env
.env.local
.env.development
.env.production

# Builds do Frontend (Vite) / Backend
dist/
build/
out/

# Arquivos do SO
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Editor de Código
.vscode/
.idea/

# Arquivos de Testes e Cobertura
coverage/