version: '3.8'

services:
  backend:
    build: ./backend
    container_name: etegami_backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - FRONTEND_URL=${FRONTEND_URL}
      - BASE_URL=https://etegamificada.online
    volumes:
      - ./backend/public/uploads:/app/public/uploads
      - ./passwords.txt:/app/passwords.txt

  frontend:
    build: ./frontend
    container_name: etegami_frontend
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
